.container-fluid {
    padding: 0px;
  }

  body {
    background-color: #FFF9F9;
    color: #DB3056;
    font-weight: bold;
  }

  header {
    padding-top: 75px;
    padding-bottom: 75px; 
    text-align: center;            
    background-color: #DB3056;
    background-image: url("imgs/hamiltonBackground.png");
    box-shadow: 10px 10px 5px lightgrey;
  }
  header h1 {
    font-weight: bolder;
    color: #111
  }
  header h2 {
    text-align: left;
  }

  footer {
    border-top: 1px solid black;
    text-align: center;
    color: grey;
  }

  .content {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
  }

  .content h1, h3{
    color: #851D41;
    text-align: center;
    font-weight: bolder;
  }

  .content-preference {
    text-align: center;
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 150px;
    }

  .mainmenu-option {
    margin: 10px;
    margin-bottom: 20px;
  }
  .mainmenu-option h2 {
    color: #DB3056;
    text-align: center;
    font-weight: bold;
  }
  .mainmenu-option h4 {
    text-align: center;
  }

  .preference-option {
    margin: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .preference-option h4 {
    background-color: #DB3056;
    color: #FFF9F9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 0px;
  }
  .preference-option img {
    height: 20rem;
  }

  .content-map {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 150px;
    display: none
  }
  
  @media only screen and (max-width: 1740px) {
    .content-map {
      margin-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 150px;
    } 
  }

  .content-map h2, h6 {
    color: #DB3056;
  }

  .map {
    width: 100%; 
    height: 600px;
    border: 4px solid #DB3056;
    border-radius: 5px;
  }

  a {
    color: #DB3056;
  }
  a:hover {
    color:#DB3056;
    text-decoration-color: #DB3056;
  }

  input, select, option{
    border: 1px solid #DB3056;
    color: #DB3056;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
  }

  label {
    color: #DB3056;
    font-weight: bold;
  }

  button {
    border: 1px solid #DB3056;
    color: white;
    background-color: #FF5757;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
  }

  .addnewdate-link:hover {
    text-decoration-color: #FFF9F9; 
  }
